@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Itim', cursive;
}

body{
	min-height: 100vh;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
	url(../img/Portada.jpg) no-repeat center center fixed;
	background-size: cover;

}


/*Navegador*/

header{
	position: fixed;
	width: 100%;
	height: 60px;
	background: #FFC300;
	box-shadow: 0 4px 25px -12px #000000;
	z-index: 2;
}

.header-content{
	max-width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo{
	height: 60px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.logo img{
	border-radius: 50%;
	padding: 5px;
	width: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.logo h1{
	color: #FFFFFF;
}

.logo h1 b{
	color: #0883E3;
}

.menu {
	height: 60px;
}

.menu nav{
	height: 100%;
}

.menu nav ul{
	height: 100%;
	display: flex;
	list-style: none;
}

.menu nav ul li{
	height: 100%;
	margin: 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}


.menu nav ul li a{
	color: #FFF;
	transition: color 300ms;
}

.menu nav ul li a:hover{
	color: #0883E3;
}


/*Portada*/

.container-cover{
	top: 80px;
	margin: auto;
	width: 100%;
	height : 200px;
	position: relative;
}



.container-info-cover{
	max-width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.container-info-cover h1{
	font-size: 60px;
	font-weight: 500;
	color: #040EDF;
	margin-bottom: 20px;
}

.container-info-cover p{
	font-size: 30px;
}

/*de aqui*/

.buscar{
	top: 110px;
	position: relative;
	width: 100%;
	display: flex;
	padding: 20px 0px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.buscar form input{
	text-align: center;
	width: 500px;
	height: 40px;
	font-size: 18px;
	color: #000;
	outline: none;
	border: 1px solid black;
	border-radius: 30px;
}


.btn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn a input{
	display: flex;
	justify-content: center;
	width: 80px;
	height: 40px;
	text-align: center;
	margin: 20px 0px;
	color: white;
	background-color: #FFC000;
	font-size: 20px;
	border-radius: 25%;
	transition: color 300ms;
}

.btn a input:hover{
	color: black;
}

.login form{
	top: 120px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.login form h1{
	margin: 10px;
}

.login form input{
	text-align: center;
	margin: 5px 0px;
	width: 300px;
	height: 30px;
	border-radius: 30px;
}

.login form a{
	margin: 10px 0px;

}



.ingresar a input{
	width: 130px;
	height: 50px;
	color: white;
	background-color: #0883E3;
	font-size: 30px;
	border-radius: 25%;
	margin: 10px 0px;
	transition: color 300ms;
}

.ingresar a input:hover{
	color: black;
}

.registrar{
	top: 170px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.foot{
	top: 250px;
	position: relative;
}


.registrar i{
	color: blue;
}

.registrarse-btn a input{
	margin: 10px 0px;
	background-color: #FFC000;
	color: white;
	height: 35px;
	width: 155px;
	border-radius: 30%;
	font-size: 20px;
	transition: color 300ms;
}

.registrarse-btn a input:hover{
	color: black;
}


/*hasta aqui*/

.agg-libro{
	display: flex;
	position: relative;
	top: 80px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.back-agg-libro form{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px;
}

.back-agg-libro form input{
	color: white;
	background-color: #FFC000;
	font-size: 20px;
	border-radius: 25%;
	width: 100px;
	height: 40px;
	transition: color 300ms;
	top: 450px;
}

.back-agg-libro input:hover{
	color: black;
}


.agg-libro input {
	margin: 5px 0px;
	border-radius: 10%;
	font-size: 20px;
	text-align: center;
}

.agg-libro select{
	margin: 5px 0px;
	border-radius: 10%;
	font-size: 20px;
}

.agg-libro label{
	color: blue;
	margin: 5px 0px;
	border-radius: 10%;
	font-size: 20px;
	text-shadow: 20%;
	text-shadow: 1px 4px 5px black;
}

.agg-libro input#boton-agregar-libro{
	margin: 20px 0px;
	color: white;
	background-color: #0883E3;
	font-size: 20px;
	border-radius: 25%;
	width: 120px;
	height: 50px;
	transition: color 300ms;
}

.agg-libro input#boton-agregar-libro:hover{
	color: black;
}


.navegador-cliente{
	height: 60px;
}

.navegador-cliente nav{
	height: 100%;
}

.navegador-cliente nav ul{
	height: 100%;
	display: flex;
	list-style: none;
}

.navegador-cliente nav ul form{
	height: 100%;
	margin: 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}


.navegador-cliente nav ul form input{
	color: white;
	background: transparent;
	border: none;
	outline: none;
	transition: color 300ms;
}

.navegador-cliente nav ul form input:hover{
	color: #0883E3;
}

.buscador-cliente input{
	margin: 0px 5px;
}

.buscador-cliente input#barra-search-client {
	color: black;
	background-color: white;
	border-radius: 30px;
	border-width: 2px;
	text-align: center;
	height: 30px;
	width: 280px;
}

.buscador-cliente input#btn-search-clietn{
	border-radius: 20px;
	width: 70px;
	height: 30px;
	background-color: #0883E3;
	color: white;
	font-size: 15px;
	transition: color 300ms;
}

.buscador-cliente input#btn-search-clietn:hover{
	color: black;
}

.client-home-vista{
	top: 80px;
	position: relative;
}

.client-home-vista div{
	height: 100px;
	width: 200px;
	background-color: white;
	border-bottom-width: 5px;
	border-bottom-color: black;
	display: flex;
	align-items: grid;
}

/* ------------------MODULO ADMIN Y MODULO ROOT -----------------*/

.opciones-root{
	top:  80px;
	color: #0883E3;
	text-shadow: 1px 4px 7px black;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}



.creacion-admin {
	text-shadow: 1px 4px 7px black;
	color: black;
	text-align: center;
	top:  80px;
	position: relative;
}

.creacion-admin form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.creacion-admin form input{
	width: 200px;
	height: 35px;
	font-size: 20px;
	margin: 5px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}



.creacion-admin form input#wasd{
	background: #0883E3;
	color: white;
	width: 300px;
	transition: color 300ms;
}

.creacion-admin form input#wasd:hover{
	color: black;
}

.botones-volver form a input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 70px;
	margin: 10px 20px; 
	position: fixed;
	transition: color 300ms;
}

.botones-volver form a input:hover{
	color: #0883E3;
}

.botones-volver1 form a input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 120px;
	margin: 10px 20px; 
	position: fixed;
	transition: color 300ms;
}

.botones-volver1 form a input:hover{
	color: #0883E3;
}

.info-perfil-root {
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.info-perfil-root form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.info-perfil-root form input{
	width: 250px;
	height: 35px;
	font-size: 20px;
	margin: 5px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.info-perfil-root form input#wasd1{
	background: #0883E3;
	color: white;
	width: 300px;
	transition: color 300ms;
}

.info-perfil-root form input#wasd1:hover{
	color: black;
}


.regresar-editar-perfil-root form input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 85px;
	position: fixed;
	transition: color 300ms;
	margin: 0px 10px;

}

.regresar-editar-perfil-root form input:hover{
	color: #0883E3;
}


.opciones-admin{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.opciones-admin form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.opciones-admin form a input{
	background: #0883E3;
	color: white;
	margin: 9px 0px;
	font-size: 20px;
	border-radius: 10%;
	width: 380px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	transition: color 300ms;
}
.opciones-admin form a input:hover{
	color: black;
}

.botones-volver-editar-perfil-admin1 a input{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 70px;
	position: fixed;
	transition: color 300ms;

}

.botones-volver-editar-perfil-admin1 a input:hover{
	color: #0883E3;
}

.botones-volver-editar-perfil-admin2 a input{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 120px;
	position: fixed;
	padding-right: auto;
	transition: color 300ms;
}

.botones-volver-editar-perfil-admin2 a input:hover{
	color: #0883E3;
}

.info-personal-admin {
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.info-perfil-admin {
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.info-perfil-admin form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}


.info-perfil-admin form input{
	width: 230px;
	height: 30px;
	font-size: 18px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.info-personal-admin form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.info-personal-admin form input{
	width: 230px;
	height: 30px;
	font-size: 18px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.volver-editar-admin a input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 70px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #FFBF00;
	position: fixed;
	transition: color 300ms;
}

.volver-editar-admin a input:hover{
	color: #0883E3;
}

.info-personal-admin form input#boton-editar-admin-enviar{
	background: #0883E3;
	color: white;
	font-size: 20px;
	width: 270px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
	transition: color 300ms;
}

.info-personal-admin form input#boton-editar-admin-enviar:hover{
	color: black;
}

.buscar-codigo-lib{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.buscar-codigo-lib form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.buscar-codigo-lib form input{
	width: 230px;
	height: 30px;
	font-size: 15px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}
.buscar-codigo-lib form input#enviar-buscar-editar-l{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 250px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
	transition: color 300ms;
}

.buscar-codigo-lib form input#enviar-buscar-editar-l:hover{
	color: black;
}
.datos-libro-editar{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.datos-libro-editar form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.datos-libro-editar form input{
	width: 230px;
	height: 30px;
	font-size: 15px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.datos-libro-editar form input#enviar-datos-editar-l{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 250px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
	transition: color 300ms;
}

.datos-libro-editar form input#enviar-datos-editar-l:hover{
	color: black;
}

.botones-volver-editar-libro a input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 90px;
	margin: 0px 20px; 
	position: fixed;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	transition: color 300ms;

}

.botones-volver-editar-libro a input:hover{
	color: #0883E3;
}

.opciones-adm-existencias {
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 25px;
	position: relative;
	justify-content: space-between;
}

.opciones-adm-existencias form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.opciones-adm-existencias form input{
	width: 230px;
	height: 30px;
	font-size: 15px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.opciones-adm-existencias form input#buscar-existencias-boton{
	margin: 14px 0px;
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 250px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
}

.datos-existencias-editar{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.datos-existencias-editar form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.datos-existencias-editar form input#boton-añadir-agotado{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 350px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
}

.cant-ejemplares-editar1{
	margin: 13px 0px;
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.cant-ejemplares-editar1 form{
	justify-content: center;
	align-items: center;
	position: relative;
}
.cant-ejemplares-editar1 form input{
	width: 230px;
	height: 30px;
	font-size: 15px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.cant-ejemplares-editar1 form input#boton-editar-exist-libro{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 350px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
}


.cant-ejemplares-eliminar1{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.cant-ejemplares-eliminar1 form{
	justify-content: center;
	align-items: center;
	position: relative;
}
.cant-ejemplares-eliminar1 form input{
	width: 230px;
	height: 30px;
	font-size: 15px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.cant-ejemplares-eliminar1 form input#boton-eliminar-exist-libro{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 350px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;

}

.botones-volver-adm-existencias a input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -660px;
	margin: 0px 20px; 
	position: relative;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	margin: 15px 0px;

}

.eliminar-libro-buscar {
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 25px;
	position: relative;
	justify-content: space-between;
}

.eliminar-libro-buscar form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.eliminar-libro-buscar form input{
	width: 230px;
	height: 30px;
	font-size: 15px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.eliminar-libro-buscar form input#boton-buscar-libro-eliminar{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 300px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;

}

.datos-eliminar-libro{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 25px;
	position: relative;
	justify-content: space-between;
}

.datos-eliminar-libro form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.datos-eliminar-libro form input#boton-eliminar-libro{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 220px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
	margin: 15px 0px;
}

.botones-volver-adm-eliminar a input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -490px;
	margin: 0px 20px; 
	position: relative;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	margin: 15px 0px;

}

.datos-completar-registro-admin {
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 25px;
	position: relative;
	justify-content: space-between;
}

.datos-completar-registro-admin form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.datos-completar-registro-admin form input{
	width: 230px;
	height: 30px;
	font-size: 15px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.datos-cuenta-admin-registro{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 25px;
	position: relative;
	justify-content: space-between;
}

.datos-cuenta-admin-registro form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.datos-cuenta-admin-registro form input{
	width: 230px;
	height: 30px;
	font-size: 15px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.datos-completar-registro-admin form input#boton-enviar-registro-admin{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 220px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	top: -160px;
	margin: 0px 20px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
	margin: 15px 0px;
	transition: color 300ms;
}

.datos-completar-registro-admin form input#boton-enviar-registro-admin:hover{
	color: black;
}


.botones-volver-adm-comp-perfil a input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 70px;
	margin: 0px 20px; 
	position: fixed;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	margin: 15px 0px;
	transition: color 300ms;
}

.botones-volver-adm-comp-perfil a input:hover{
	color: #0883E3;
}


/*Registrarse*/

.formulario-registro form{
	top: 80px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.datos-personales{
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.datos-personales input{
	margin: 5px 0px;
	border-radius: 30px;
	height: 25px;
	width: 250px;
	text-align: center;
	font-size: 17px;
}

.datos-personales label{
	font-size: 20px;
	color: blue;
	text-shadow: 1px 4px 7px white;
}

.datos-ubicacion{
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.datos-ubicacion select{
	margin: 5px 0px;
	border-radius: 30px;
	height: 25px;
	width: 250px;
	text-align: center;
	font-size: 17px;
}

.datos-ubicacion input{
	margin: 5px 0px;
	border-radius: 30px;
	height: 25px;
	width: 250px;
	text-align: center;
	font-size: 17px;
}

.datos-cuenta{
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.datos-cuenta input{
	margin: 5px 0px;
	border-radius: 30px;
	height: 25px;
	width: 250px;
	text-align: center;
	font-size: 17px;
}

.formulario-registro form input#enviar-registro{
	margin: 20px 0px;
	width: 200px;
	height: 40px;
	border-radius: 30px;
	color: white;
	font-size: 20px;
	background-color: #0883E3;
	transition: color 300ms;
}
.formulario-registro form input#enviar-registro:hover{
	color: black;
}

.boton-volver-registro-cliente form a input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 70px;
	margin: 0px 20px; 
	position: fixed;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	margin: 15px 0px;
	transition: color 300ms;
}

.boton-volver-registro-cliente form a input:hover{
	color: #0883E3;
}

/*Agregar libro*/

.agg-libro{
	top: 80px;
	position: relative;
}

.agg-libro form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.back-agg-libro{
	position: relative;
	top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: -10px 0px;
}

.back-agg-libro button{
	color: white;
	background-color: #FFC000;
	font-size: 20px;
	border-radius: 25%;
	width: 100px;
	height: 40px;
	margin: 10px 0px;
	transition: color 300ms;
}

.back-agg-libro button:hover{
	color: #0883E3;
}


.agg-libro input {
	margin: 5px 0px;
	border-radius: 30px;
	font-size: 20px;
	text-align: center;
}

.agg-libro select{
	margin: 5px 0px;
	border-radius: 10%;
	font-size: 20px;
}

.agg-libro label{
	color: blue;
	margin: 5px 0px;
	border-radius: 10%;
	font-size: 20px;
	text-shadow: 20%;
	text-shadow: 1px 4px 5px black;
}

.agg-libro input#Agregar{
	margin: 20px 0px;
	color: white;
	background-color: #0883E3;
	font-size: 20px;
	border-radius: 25%;
	width: 120px;
	height: 50px;
	transition: color 300ms;
}

.agg-libro input#Agregar:hover{
	color: black;
}


/*Inicio Cliente*/
.navegador-cliente{
	height: 60px;
}

.navegador-cliente nav{
	height: 100%;
}

.navegador-cliente nav ul{
	height: 100%;
	display: flex;
	list-style: none;
}

.navegador-cliente nav ul form{
	height: 100%;
	margin: 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}


.navegador-cliente nav ul form input{
	color: white;
	background: transparent;
	border: none;
	outline: none;
	transition: color 300ms;
}

.navegador-cliente nav ul form input:hover{
	color: #0883E3;
}

.buscador-cliente input{
	margin: 0px 5px;
}

.buscador-cliente input#barra-search-client {
	color: black;
	background-color: white;
	border-radius: 30px;
	border-width: 2px;
	text-align: center;
	height: 30px;
	width: 280px;
}

.buscador-cliente input#btn-search-clietn{
	border-radius: 20px;
	width: 70px;
	height: 30px;
	background-color: #0883E3;
	color: white;
	font-size: 15px;
	transition: color 300ms;
}

.buscador-cliente input#btn-search-clietn:hover{
	color: black;
}

.client-home-vista{
	top: 80px;
	margin: 0px 30px;
	position: relative;
	display: grid;
	grid-gap: 80px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.client-home-vista div{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	width: 250px;
	height: 300px;
}


/* Comprar o Reservar libro */


.info-precio-cantidad{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.info-precio-cantidad{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.info-precio-cantidad p{
	width: 230px;
	height: 30px;
	font-size: 20px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.comprar-libro-info{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 30px;
	position: relative;
	justify-content: space-between;
}

.comprar-libro-info{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.comprar-libro-info p{
	width: 230px;
	height: 30px;
	font-size: 20px;
	margin: 8px 0px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.seleccionar-cantidad-y-compra{
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 20px;
	position: relative;
	justify-content: space-between;
}

.seleccionar-cantidad-y-compra form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.seleccionar-cantidad-y-compra form input{
	width: 230px;
	height: 30px;
	font-size: 15px;
	margin: 8px 10px;
	border-radius: 9%;
	box-shadow: 0 4px 25px -12px #000000;
}

.seleccionar-cantidad-y-compra form input#boton-comprar-libro{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 250px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	margin: 10px 0px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
	transition: color 300ms;
}

.seleccionar-cantidad-y-compra form input#boton-comprar-libro:hover{
	color: black;
}

.seleccionar-cantidad-y-compra form input#boton-reservar-libro{
	background: #0883E3;
	color: white;
	font-size: 18px;
	width: 250px;
	height: 30px;
	box-shadow: 0 4px 25px -12px #000000;
	margin: 0px 0px; 
	border: none;
	outline: none;
	border-radius: 20px;
	border-bottom: 3px solid #0883E3;
	transition: color 300ms;
}

.seleccionar-cantidad-y-compra form input#boton-reservar-libro:hover{
	color: black;
}

.botones-volver-comprar-libro a input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 10%;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 90px;
	margin: 0px 20px; 
	position: fixed;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	transition: color 300ms;

}

.botones-volver-comprar-libro a input:hover{
	color: #0883E3;
}

/* Editar perfil cliente */

.info-personal-editar-perf-cliente {
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 20px;
	position: relative;
	justify-content: space-between;
}

.info-personal-editar-perf-cliente form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.info-personal-editar-perf-cliente form input{
	width: 260px;
	height: 60px;
	font-size: 15px;
	margin: 8px 10px;
	border-radius: 0%;
	box-shadow: 0 4px 25px -12px #000000;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;

}

.info-personal-editar-perf-cliente form .datos-ubicacion-perfil-cliente select{
	width: 260px;
	height: 30px;
	font-size: 20px;
	margin: 8px 10px;
	border-radius: 0%;
	box-shadow: 0 4px 25px -12px #000000;
	outline: none;
	border: none;
	color: black;
	font-size: 16px;
}

.funciones-editar-perfil-cliente {
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 20px;
	position: relative;
	justify-content: space-between;
}

.funciones-editar-perfil-cliente{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;

}

.funciones-editar-perfil-cliente input#cb1{
	width: 300px;
	font-size: 20px;
	margin: 8px 10px;
	border-radius: 0%;
	box-shadow: 0 4px 25px -12px #000000;
	height: 26px;

}

.funciones-editar-perfil-cliente input#cb2{
	width: 300px;
	font-size: 20px;
	margin: 8px 10px;
	border-radius: 0%;
	box-shadow: 0 4px 25px -12px #000000;
	height: 26px;

}

.info-perfil-editar-cliente {
	top:  80px;
	color: black;
	text-shadow: 1px 4px 7px white;
	text-align: center;
	font-size: 20px;
	position: relative;
	justify-content: space-between;
}

.info-perfil-editar-cliente {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.info-perfil-editar-cliente input{
	width: 260px;
	font-size: 15px;
	margin: 8px 10px;
	border-radius: 0%;
	box-shadow: 0 4px 25px -12px #000000;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
}

.info-perfil-editar-cliente input#boton-actualizar-editar-cliente{
	background: #0883E3;
	color: white;
	font-size: 20px;
	border-radius: 20px;
	width: 300px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	margin: 0px 0px; 
	position: relative;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	transition: color 300ms;
}

.info-perfil-editar-cliente input#boton-actualizar-editar-cliente:hover{
	color: black;
}

.boton-regresar-editar-perfil form input{
	background: #FFC000;
	color: white;
	font-size: 20px;
	border-radius: 20px;
	width: 160px;
	height: 40px;
	box-shadow: 0 4px 25px -12px #000000;
	top: 90px;
	margin: 0px 20px; 
	position: fixed;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	transition: color 300ms;

}

.boton-regresar-editar-perfil form input:hover{
	color: #0883E3;
}