{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agrega un libro</title>
	<link  href="{% static '/css/estilos.css' %}" rel="stylesheet" type="text/css">
	<link  href="{% static 'lph.ico' %}" rel="icon" >
</head>
<body>
	<form action="/agregarLibro/" method="GET" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="text" placeholder="Titulo" name="Titulo">
		<input type="text" placeholder="Autor" name="Autor">
		<input type="text" placeholder="Año de publicación" name="PublicA">
		<input type="text" placeholder="Genero" name="Genero">
		<input type="text" placeholder="Numero de paginas" name="numeropaginas">
		<input type="text" placeholder="Editorial" name="Editorial">
		<input type="text" placeholder="Idioma" name="Idioma">
		<input type="text" placeholder="Estado" name="Estado">
		<label for="fecha-publ">Fecha de publicación:</label>
		<input type="date" id="fecha-publ" name="fecha-publ">
		<input type="text" placeholder="Precio" name="Precio">
		<label for="portada">portada:</label>
		<input type="FILE" name="Portada">
		<input type="text" placeholder="direccion portada" name="direccionportada">
		<input type="submit" value="Agregar">
		
	</form>
</body>
</html>